<launch>
    <arg name="controller" default="MPC" />
    <arg name="car_name" default="car" />
    <group ns="$(arg car_name)">
        <node pkg="mushr_control" type="main.py" name="controller">
            <param name="type" value="$(arg controller)" />
            <param name="use_sim_pose" value="1" /><!-- TODO -->
        </node>
    </group>

    <arg name="map_file" default="$(find mushr_control)/maps/sandbox.yaml" />
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
</launch>
